$dark-oak: rgb(48,38,29); // DARK OAK 
$oak-100: rgb(100,81,61); // OAK 100%
$oak-75: rgb(139,124,109); // OAK 75%
$oak-60: rgb(162,150,138); // OAK 60% 
$oak-45: rgb(185,177,168); // OAK 45%
$oak-30: rgb(209,203,197); // OAK 30%
$oak-15: rgb(232,229,226); // OAK 15%