$pantone-291-c: rgb(151,202,235); // PANTONE 291 C
$pantone-299c: rgb(0,160,223); // PANTONE 299C
$pantone-641c: rgb(0,101,161); // PANTONE 641C
$pantone-324c: rgb(153,217,217); // PANTONE 324C
$pantone-326c: rgb(0,175,170); // PANTONE 326C
$pantone-7474c: rgb(0,116,129); // PANTONE 7474C
$pantone-367c: rgb(162,212,94); // PANTONE 367C
$pantone-369c: rgb(97,166,14); // PANTONE 369C
$pantone-349c: rgb(0,105,55); // PANTONE 349C
$pantone-106c: rgb(250,227,69); // PANTONE 106C
$pantone-7548c: rgb(255,198,0); // PANTONE 7548C
$pantone-130c: rgb(245,168,0); // PANTONE 130C
$pantone-151c: rgb(255,131,0); // PANTONE 151C
$pantone-1655c: rgb(255,77,0); // PANTONE 1655C
$pantone-7597c: rgb(214,65,35); // PANTONE 7597C
$pantone-178c: rgb(255,89,90); // PANTONE 178C
$pantone-206c: rgb(213,0,55); // PANTONE 206C
$pantone-207c: rgb(171,0,51); // PANTONE 207C
$pantone-224c: rgb(238,111,187); // PANTONE 224C
$respect: rgb(203,0,123); // RESPECT
$pantone-228c: rgb(141,14,87); // PANTONE 228C
$pantone-2572c: rgb(203,139,218); // PANTONE 2572C
$pantone-2582c: rgb(177,79,197); // PANTONE 2582C
$pantone-259c: rgb(111,34,119); // PANTONE 259C